.title img{
  float: left;
}

.nav-bars {
  clear: both;
}

nav{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

}

.nav-bars li{
  display: inline-block;
}
#rss-icon{
  margin-left: 10px;
}
.bar{
  height: 20px;
  background-image: url("../assets/hr-img.png");
  background-repeat: repeat;
  
  margin: 25px auto;
}

body{
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}
main div{
  display: flex;
  justify-content: space-between;

}
main img{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;

}
main div p{
  text-indent: 25px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
}

.instructions{
  display: block;
}